/* ===========================================================
   FICHIER : tp4.css
   PROJET  : LeDOM
   DATE    : 10/04/2026
   AUTEUR  : Stephane Brisse
   =========================================================== */
 @font-face {
 font-family: "Roboto";
 src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
 font-weight: 400;
 font-style: normal;
 font-display: swap;
 }
 *,
 *::before,
 *::after {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 }
 html {
 scroll-behavior: smooth;
 }
 body {
 font-family: "Roboto", sans-serif;
 color: #000;
 }
/* ==================================================
   HEADER
   ================================================== */
.header_ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
  margin-top: 10px;
  margin-bottom: 20px;
}
.header_li {
  list-style-type: none;
}
/* ==================================================
   TP
   ================================================== */

h1 {
 text-align: center;
 border: solid red;
}

/* ===========================================================
   =========================================================== */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
  margin-top:  50px;
}
button {
     padding: 10px;
     border-radius: 10px;
}
#action {
  background-color: rgb(184, 232, 140);
  color: #000;
}
#reset {
  background-color: rgb(219, 126, 126);
  color: #000;
}
